#app{
    
}
#app .col-sm {
    height: 5em;
    width: 5em;
     border: solid 1px black;
    
}
.hightlighted {
    background: #67e992;
}
body{
background: #f8f8f8;
display: flex;
align-items: center;
justify-content: center;
}